<h1>Coin Combinations</h1>

<p>Input some amount of cents (less than 100) and we'll calculate how many coins you get back:</p>

<form action='/result' method='get'>
  <div class="form-group">
    <label for="cents">Cents:</label>
    <input id="cents" name="cents" class="form-control" type="text">
  </div>

  <button type="submit" class="btn btn-info">GO</button>
</form>