<h1>Rock Paper Scissors</h1>

<p>Choose "rock", "paper", or "scissors" and try to beat the computer!</p>

<a href='/result?play=rock' class="btn btn-info">Rock</a>
<a href='/result?play=paper' class="btn btn-warning">Paper</a>
<a href='/result?play=scissors' class="btn btn-success">Scissors</a>
