<h1>Numbers to words</h1>

<p>Enter a number and we'll convert it to words. For example, "2,789" will display "Two thousand seven hundred eighty-nine."</p>

<form action='/result' method='get'>
  <div class="form-group">
    <label for="number">Number:</label>
    <input id="number" name="number" class="form-control" type="text">
  </div>

  <button type="submit" class="btn btn-info">Convert</button>
</form>