<h1>Is this a palindrome?</h1>

<p>Input a word, phrase, number, or any other set of characters and I will tell you if it is a palindrome.</p>

<form action="/result" method="get">
  <div class="form-group">
    <input id="input" name="input" class="form-control" type="text" placeholder="Just type something already!">
  </div>

  <button action="submit" class="btn btn-success">Do it!</button>
</form>